body {
  background-color: azure; }

.list {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 105vh auto;
  list-style: none; }
  .list > :nth-child(1) {
    top: 15vh;
    margin-bottom: 85vh; }
  .list > :nth-child(2) {
    top: 30vh;
    margin-bottom: 70vh; }
  .list > :nth-child(3) {
    top: 45vh;
    margin-bottom: 55vh; }
  .list > :nth-child(4) {
    top: 60vh;
    margin-bottom: 40vh; }
  .list > :nth-child(5) {
    top: 75vh;
    margin-bottom: 25vh; }
  .list > li {
    height: 2rem;
    width: 100%;
    position: sticky;
    background-color: lightsteelblue;
    margin-bottom: 105vh; }

#counter {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 4vh;
  left: 3.5vw;
  background-color: #414e80;
  color: azure;
  height: 3.2rem;
  width: auto;
  box-shadow: 4px 4px 0px 0px #8b92af;
  padding: 1rem 1.5rem;
  padding-top: 0.7rem;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  font-family: sans-serif; }
  #counter::after {
    content: 'div counter';
    font-size: 0.8rem;
    margin-top: 0.5rem;
    line-height: 0.5; }
